# Ficheiro .gitignore para o projeto TruCar

# Segredos e Ambiente
.env
*.env
.env.*

# Dependências do Python (Back-end)
/backend/venv/
/backend/__pycache__/
/backend/app/__pycache__/
/backend/app/*/__pycache__/
/backend/app/*/*/__pycache__/

# Dependências do Node.js (Front-end)
/FrontEnd/node_modules/
/FrontEnd/dist/
/FrontEnd/.quasar/
/FrontEnd/.quasar-testing/
/FrontEnd/test/

# Ficheiros de IDE e Sistema Operacional
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.DS_Store