
# Segredos e Ficheiros de Ambiente
# Nunca devem ser enviados para o repositório.
.env
*.env
.env.*
.env.local*

# Python / Back-end
# -------------------------------------------------------------------
# e ficheiro .pyc em qualquer lugar dentro da pasta 'backend'.
/backend/**/__pycache__/
/backend/**/*.pyc

# Ambientes virtuais do Python
/backend/venv/
venv/
.venv/
env/


# Node.js / Front-end (Quasar)
# -------------------------------------------------------------------
# Dependências e ficheiros de build do front-end.
# Os caminhos começam com / para garantir que são relativos à raiz.
/FrontEnd/node_modules/
/FrontEnd/dist/
/FrontEnd/.quasar/
/FrontEnd/.quasar-testing/
/FrontEnd/test/
/FrontEnd/src-cordova/
/FrontEnd/src-capacitor/

# Ficheiros temporários do Quasar
/quasar.config.*.temporary.compiled*


# Ficheiros de IDE, Editores e Sistema Operacional
# -------------------------------------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.DS_Store
.thumbs.db


# Logs de Erro
# -------------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*